<head>
    <style>
        table tr {

                font-family: 'Crimson Text', Georgia, Times, serif;
                font-size: 16px;
                line-height: 25px;
            }


    </style>
</head>

<body style="padding-top:60px">

    <div class="col-xs-10 col-xs-offset-1">
        <h1 align="center" class="allerta" style="font-size:41px;">College Ranking</h1>
    </div>
    
    <div class="col-xs-10 col-xs-offset-1">

      <!-- Nav tabs -->
        <uib-tabset class="allerta" active="active">
                <uib-tab index="0" heading="U.S.News">
                    <table class="table table-striped" style="margin-top:15px">
                        <tr ng-repeat="school in model.usrank">
                            <td class="col-xs-1">
                                {{school.rank}}
                            </td>
                            <td class="col-xs-4">
                                <img ng-src="{{school.image}}" style="height:25px">
                            </td>
                            <td class="col-xs-5">
                                <a>{{school.name}}</a>
                            </td>
                        </tr>
                    </table>
                </uib-tab>
                <uib-tab class="allerta" index="1" heading="Times Higher Education(THE)">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td class="col-xs-1">
                                    National Rk
                                </td>
                                <td class="col-xs-1">
                                    World Rk
                                </td>
                            </tr>
                        </thead>
                        <tr ng-repeat="school in model.therank">
                            <td class="col-xs-1">
                                {{school.nrank}}
                            </td>
                            <td class="col-xs-1">
                                {{school.wrank}}
                            </td>
                            <td class="col-xs-3">
                                <img ng-src="{{school.image}}" style="height:25px">
                            </td>
                            <td class="col-xs-5">
                                <a>{{school.name}}</a>
                            </td>
                        </tr>
                    </table>
                </uib-tab>
                <uib-tab index="2" heading="QS World Ranking">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td class="col-xs-1">
                                    National Rk
                                </td>
                                <td class="col-xs-1">
                                    World Rk
                                </td>
                            </tr>
                        </thead>
                        <tr ng-repeat="school in model.qsrank">
                            <td class="col-xs-1">
                                {{school.nrank}}
                            </td>
                            <td class="col-xs-1">
                                {{school.wrank}}
                            </td>
                            <td class="col-xs-3">
                                <img ng-src="{{school.image}}" style="height:25px">
                            </td>
                            <td class="col-xs-5">
                                <a>{{school.name}}</a>
                            </td>
                        </tr>
                    </table>
                </uib-tab>
        </uib-tabset>
    
    </div>
</body>